
  
  /* inViewport */
  
  [data-inviewport="scale-in"] { 
    transition: opacity 1s, transform 1s;
    opacity: 0;
    transform: translateY(100px);
    /* transform: scale(0.1); */
  }
  [data-inviewport="scale-in"].is-inViewport { 
    /* transform: scale(1); */
    transform: translateY(0);
    opacity: 1;
  }
  
  [data-inviewport="fade-rotate"] { 
    transition: 2s;
    opacity: 0;
  }
  [data-inviewport="fade-rotate"].is-inViewport { 
    transform: rotate(180deg);
    opacity: 1;
  }
