---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Experience from '../components/Experience.astro';
import Proyectos from '../components/Proyectos.astro';

---

<Layout title="Porfolio.">
	<main class="relative w-full z-10 ">
		<Title/>
		<Experience/>
		<Proyectos/>
	</main>
</Layout>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		color-scheme: light dark;
	}
	
	:root{
	}
</style>
