---
// const { text } = Astro.props;
const { referencia } = Astro.props;
---

<a href={referencia} target="_blank" class="relative inline-block overflow-hidden rounded-full p-[1px] text-gray-50 hover:text-secondary-100">
    <span
        class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#363643_0%,#5bc0be_50%,#363643_100%)]"
    ></span>
    <div
        class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-gray-950 px-5 py-[5px] text6-white/80 font-medium backdrop-blur-3xl text-base font-onest"
    >
        <slot />
    </div>
</span>
