---
import AstroIcon from "../icons/AstroIcon.astro";
// import GitHub from "../icons/GitHub.astro";
import JS from "../icons/JS.astro";
import NextJS from "../icons/NextJS.astro";
import ReactIcon from "../icons/ReactIcon.astro";
// import Supabase from "../icons/Supabase.astro";
import HTML from "../icons/HTML.astro";
import CSS from "../icons/CSS.astro";
import Tailwind from "../icons/Tailwind.astro";
import Tecnology from "../icons/Technology.astro";
import { CardSpotlightBorder } from "./CardBorderSpotlight";
import UnderlineText from "./UnderlineText.astro";
import C from "../icons/C.astro";
import Java from "../icons/Java.astro";
import Bash from "../icons/Bash.astro";
import Docker from "../icons/Docker.astro";
import Kubernetes from "../icons/Kubernetes.astro";
import Git from "../icons/Git.astro";
import Linux from "../icons/Linux.astro";

const tecnologias = [AstroIcon, ReactIcon, NextJS, Tailwind, HTML, CSS, JS];
const tecnologias2 = [Java, C, Linux, Bash, Docker, Kubernetes, Git]
---

<section
  class="lg:max-w-4xl md:max-w-2xl mx-6 md:mx-auto py-16 flex flex-col"
>
  <div class="flex gap-3 items-center">
    <UnderlineText class="text-3xl text-white font-semibold font-onest"
      ><Tecnology class="inline" /> Tecnologias</UnderlineText
    >
  </div>
  <div class="logo-slider">
    {[...Array(3)].map((_, index) => (
      <div class="logos-slide slide-one">
        {
          tecnologias.map((Tecnologia) => (
            <CardSpotlightBorder client:load>
              <Tecnologia class="size-8" />
            </CardSpotlightBorder>
          ))
        }
      </div>
    ))}
  </div>
  <div class="logo-slider">
    {[...Array(3)].map((_, index) => (
      <div class="logos-slide slide-two">
        {
          tecnologias2.map((Tecnologia) => (
            <CardSpotlightBorder client:load>
              <Tecnologia class="size-8" />
            </CardSpotlightBorder>
          ))
        }
      </div>
    ))}
  </div>
</section>

<style>
  .logo-slider {
    overflow: hidden;
    padding: 20px 0 0 0;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
  }

  /* .logo-slider:hover .logos-slide {
    animation-play-state: paused;
  } */

  .logos-slide {
    display: inline-block;
    /* animation: 45s slide infinite linear; */
  }

  .slide-one {
    animation: 45s slide infinite linear;
  }

  .slide-two {
    animation: 45s slide-reverse infinite linear;
  }

  /* .logo-slider:nth-child(1) {
    animation: 45s slide infinite linear;
  }

  .logo-slider:nth-child(2) {
    animation: 45s slide-reverse infinite linear;
  } */

  @keyframes slide {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-reverse {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0%);
    }
  }

  .blob {
    filter: blur(40px);
    position: absolute;
    z-index: -1;
    top: 0;
    opacity: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #5bc0be;
    transition: all 300ms ease-in-out;
  }

  .fakeblob {
    display: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .card {
    overflow: hidden;
    padding: 2px;
    /* margin: 0; */
    background: rgb(128 128 128 / 0.2);
    border-radius: 10px;
    position: relative;
    transition: all 300ms ease-in-out;
  }

  .inner {
    border-radius: 7px;
    padding: 10px;
    width: 80px;
    height: 80px;
    background: rgb(26, 26, 26);
    backdrop-filter: blur(80px);
    transition: all 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card:hover > .inner {
    background: rgb(26, 26, 26, 0.6);
    backdrop-filter: blur(80px);
  }
</style>

<script is:inline>
  // var copy = document.querySelector(".logos-slide").cloneNode(true);
  // document.querySelector(".logo-slider").appendChild(copy).appendChild(copy).appendChild(copy);
  // document.querySelector(".logo-slider").appendChild(copy);

  
  const all = document.querySelectorAll(".card");
  window.addEventListener("mousemove", (ev) => {
    all.forEach((e) => {
      const blob = e.querySelector(".blob");
      const fblob = e.querySelector(".fakeblob");
      const rec = fblob.getBoundingClientRect();
      blob.style.opacity = "1";

      blob.animate(
        [
          {
            transform: `translate(${
              ev.clientX - rec.left - rec.width / 2
            }px,${ev.clientY - rec.top - rec.height / 2}px)`,
          },
        ],
        {
          duration: 300,
          fill: "forwards",
        }
      );
    });
  });
</script>
