---
import Email from "../icons/Email.astro";
import Badge from "./Badge.astro";
import LinkedIn from "../icons/LinkedIn.astro";
---

<section class="lg:max-w-4xl md:max-w-2xl md:mx-auto pt-24 pb-16 flex flex-col gap-5 mx-6">
  <div class="flex flex-col gap-4 max-w-xl">
    <img
      src="/mikel.webp"
      alt="Foto de perfil de Mikel Fernandez de Labastida"
      srcset=""
      class="size-20 rounded-full border-2 border-gray-800 bg-[linear-gradient(110deg,#000,45%,#4D4B4B,55%,#000)] bg-[length:250%_100%]"
    />
    <h1 class="text-5xl font-bold tracking-tight font-onest mb-4">
      Hey! aquí Mikel
    </h1>
    <p
      class="font-montserrat font-medium text-white/80 text-xl text-pretty [&>strong]:text-secondary-100"
    >
      <strong>Ingeniero informático, DevOps y MLOps engineering</strong> de Vitoria,
      Álava, España. Especializado en Kubernetes, Docker y front-end.
    </p>
  </div>
  <div class="flex gap-5">
    <Badge referencia="mailto:mikelfernandez444@gmail.com">
      <div class="flex gap-2 justify-center items-center transition-colors duration-500">
        <Email />
        <p>Email</p>
      </div>
    </Badge>
    <Badge referencia="https://www.linkedin.com/in/MikelFernandezDeLabastida">
      <div class="flex gap-2 justify-center items-center transition-colors duration-500">
        <LinkedIn />
        <p>LinkedIn</p>
      </div>
    </Badge>
  </div>
</section>
