---

---

<section class="container mx-auto py-24 flex flex-col gap-3 px-6">
  <img
    src="/mikel.webp"
    alt="Foto de perfil de Mikel Fernandez de Labastida"
    srcset=""
    class="size-20 rounded-full"
  />
  <h1 class="text-4xl font-bold tracking-tight font-onest">¡Hola!, soy Mikel</h1>
  <h2 class="font-montserrat font-medium text-white/80 text-xl text-pretty [&>strong]:text-secondary-100"><strong>Ingeniero informático, DevOps y MLOps engineering</strong> de Vitoria, Álava, España. Especializado en despliegues, automatización y front-end.</h2>
</section>
