---

---

<section class="container mx-auto py-12 flex flex-col gap-3 px-6">
  <img
    src="/mikel.webp"
    alt="Foto de perfil de Mikel Fernandez de Labastida"
    srcset=""
    class="size-20 rounded-full"
  />
  <h1 class="text-4xl font-bold tracking-tight font-onest">¡Hola!, soy Mikel</h1>
  <h2 class="font-montserrat"><span class="text-secondary-100">Ingeniero informático</span>.</h2>
</section>
